.technologies {
  grid-area: technologies;

  .technologies__content {
    display: flex;
    justify-content: center;
    padding: 3rem;
    margin-top: 90px;
    flex-wrap: wrap;
    gap: 4rem;
  }

  .tech_icon {
    display: flex;
    text-align: center;
    flex-direction: column;
    transition: all 700ms;

    &:hover {
      transform: scale(0.9);
    }
  }
}
