.experience {
  grid-area: experiences;
  display: flex;
  flex-direction: column;

  .experience__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin-top: 2rem;
    width: 420px;

    .date_experience {
      display: flex;
      justify-content: center;
      transition: all 700ms;
 
      &:hover {
        translate: 9px;
        color: #0ddbee;
      }
    }

    .content__div {
      display: flex;
      justify-content: space-evenly;
      padding: 10px;
      text-align: center;
      border-radius: 20px;
      transition: all 700ms;

      .title {
        .experience_image {
          width: 100px;
          height: 100px;
        }
      }
    }

    .p_experience {
      transition: all 700ms;
      &:hover {
        translate: 9px;
        color: #0ddbee;
      }
    }
  }
}
