.contact {
  grid-area: contact;
  margin-bottom: 3rem;

  .contact__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      padding: 1rem;
    }

    .contact__icons {
      display: flex;
      margin-top: 3rem;
      align-items: center;
      gap: 2rem;

      img:hover {
        transition: 1s;
        transform: scale(1.2);
      }
    }
  }
}
