.about {
  grid-area: about;
  display: grid;
  gap: 2rem;
  padding: 0 4rem;
  grid-template-columns: 1fr 1fr;

  ul {
    padding: 1rem 0;

    li {
      transition: all 800ms;
      &:hover {
        color: #d2dfe0;
        transform: scale(0.98);
      }
    }
  }

  .about__content {
    display: flex;
    flex-direction: column;

    h3 {
      margin: 0;
    }

    span {
      transition: all 800ms;
      &:hover {
        transform: scale(0.98);
        color: #d2dfe0;
      }
    }
  }

  .about__image img {
    width: 100%;
    transition: all 700ms;

    &:hover {
      transform: scale(0.95);
    }
  }
}
