@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;600;700&family=PT+Sans&family=Quicksand:wght@300&display=swap");
@keyframes roll {
  0% {
    opacity: 0;
    transform: translate3d(0, -70%, 0);
  }
  20%, 25% {
    opacity: 1;
    transform: translateZ(0);
  }
  43%, 100% {
    opacity: 0;
    transform: translate3d(0, 70%, 0);
  }
}
html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

body {
  color: white;
  background-color: #09111e;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}
@media (max-width: 750px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 470px) {
  body {
    font-size: 12px;
  }
}

section,
header {
  padding: 20px 8rem;
  margin-top: 5rem;
}
@media (max-width: 750px) {
  section,
  header {
    padding: 2px 30px;
  }
}

h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  margin: 0.6rem 0;
  transition: all 700ms;
}
h2:hover {
  translate: 8px;
}

a {
  text-decoration: none;
  color: white;
}

.divider {
  height: 3px;
  border-radius: 60px;
  width: 50px;
  background-color: #1ee832;
}

.title {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
  margin-bottom: 3rem;
}

.section {
  opacity: 0;
  margin-top: 30px;
  height: 30px;
}

.container-icons {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: nowrap;
}
@media (max-width: 750px) {
  .container-icons {
    justify-content: center;
  }
}
.container-icons .icon {
  transition: all 400ms;
}
.container-icons .icon img {
  width: 30px;
}
.container-icons .icon:hover {
  transform: scale(1.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
  padding: 20px 0 20px 0;
  width: 100%;
  align-items: center;
  position: fixed;
  z-index: 2;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}
@media (max-width: 470px) {
  .navbar {
    -webkit-backdrop-filter: unset;
            backdrop-filter: unset;
  }
}
.navbar .logo {
  width: 90px;
  transition: all 600ms;
  position: relative;
  top: 8px;
  left: 30px;
}
@media (max-width: 470px) {
  .navbar .logo {
    width: 70px;
  }
}
.navbar .logo:hover {
  transform: scale(0.97);
}
.navbar .logo img {
  width: 100%;
}
.navbar .nav-links {
  margin-right: 30px;
}
@media (max-width: 900px) {
  .navbar .nav-links {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    margin-left: -100%;
    display: flex;
    margin-right: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(51, 51, 51, 0.767);
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    transition: all 0.5s ease;
  }
}
.navbar .nav-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
  align-items: center;
}
@media (max-width: 900px) {
  .navbar .nav-links ul {
    flex-direction: column;
  }
}
.navbar .nav-links ul li {
  margin: 0 15px;
}
@media (max-width: 900px) {
  .navbar .nav-links ul li {
    margin: 25px 0;
    font-size: 1.2em;
  }
}
.navbar .nav-links ul li .link {
  transition: all 400ms;
}
.navbar .nav-links ul li .link:hover {
  color: #d9d9d9;
  transform: scale(1.9);
}
.navbar .nav-links ul li .active {
  color: #1ee832;
  font-weight: 500;
}
.navbar .menu {
  width: 20px;
  position: relative;
  top: 10px;
  right: 30px;
  display: none;
}
@media (max-width: 900px) {
  .navbar .menu {
    display: block;
  }
}
.navbar .mobile-menu {
  margin-left: 0;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 900px) {
  .hero {
    grid-template-columns: 1fr;
  }
}
.hero .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  flex-wrap: nowrap;
}
@media (max-width: 470px) {
  .hero .content {
    gap: 30px;
  }
}
.hero .content .greetings h1 {
  font-size: 50px;
  margin: 0;
}
@media (max-width: 750px) {
  .hero .content .greetings h1 {
    font-size: 35px;
  }
}
@media (max-width: 470px) {
  .hero .content .greetings h1 {
    font-size: 30px;
  }
}
.hero .content .greetings .name {
  transition: all 400ms;
}
.hero .content .greetings .name:hover {
  translate: 9px;
}
.hero .content .greetings .list {
  padding: 0;
  margin: 0;
}
.hero .content .greetings .list .item {
  list-style: none;
  font-size: 50px;
  background: linear-gradient(to left, rgb(163, 5, 195), rgb(167, 19, 19) 77%, rgb(7, 174, 174));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  position: absolute;
  animation: roll 9s ease 1s infinite backwards;
}
.hero .content .greetings .list .item:nth-child(1) {
  animation-delay: 0s;
}
.hero .content .greetings .list .item:nth-child(2) {
  animation-delay: 3s;
}
.hero .content .greetings .list .item:nth-child(3) {
  animation-delay: 6s;
}
@media (max-width: 750px) {
  .hero .content .greetings .list .item {
    font-size: 35px;
  }
}
@media (max-width: 470px) {
  .hero .content .greetings .list .item {
    font-size: 30px;
  }
}
.hero .content .description {
  color: #d9d9d9;
  transition: all 600ms;
}
.hero .content .description:hover {
  translate: 4px;
}
.hero .content .resume-Button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
  padding: 11px;
  background-color: #27cd0a;
  border-radius: 20px;
  width: 100px;
  transition: all 700ms;
}
.hero .content .resume-Button:hover {
  transform: scale(0.94);
}
.hero .content .resume-Button a {
  font-weight: 300;
}
.hero .image {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
  transition: all 600ms;
}
.hero .image:hover {
  transform: scale(0.95);
}
.hero .image img {
  width: 80%;
}
@media (max-width: 900px) {
  .hero .image {
    display: none;
  }
}

.about {
  display: grid;
  gap: 10%;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 900px) {
  .about {
    gap: 2rem;
  }
}
@media (max-width: 750px) {
  .about {
    grid-template-columns: 1fr;
  }
}
.about .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
  padding-left: 30px;
}
@media (max-width: 900px) {
  .about .container {
    padding-left: 0;
  }
}
@media (max-width: 750px) {
  .about .container {
    align-items: center;
  }
}
.about .container .content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;
  flex-wrap: nowrap;
}
.about .container .content .items {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  flex-wrap: nowrap;
}
.about .container .content .items .item {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 25px;
  flex-wrap: nowrap;
  align-items: center;
  list-style: none;
}
.about .image {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
  transition: all 600ms;
}
.about .image:hover {
  transform: scale(0.95);
}
@media (max-width: 750px) {
  .about .image {
    justify-content: center;
  }
}
.about .image img {
  width: 90%;
  min-width: 200px;
  max-width: 440px;
}

.resume {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
}
.resume .title {
  align-items: center;
}
.resume .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  flex-wrap: nowrap;
}
@media (max-width: 750px) {
  .resume .content {
    flex-wrap: wrap;
    gap: 80px;
  }
  .resume .content .divider-section {
    display: none;
  }
}
.resume .content .education .title-content {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
  transition: all 400ms;
}
@media (max-width: 750px) {
  .resume .content .education .title-content {
    justify-content: flex-start;
  }
}
.resume .content .education .title-content:hover {
  transform: scale(0.98);
}
.resume .content .education .list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
}
.resume .content .education .list .item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
  align-items: flex-end;
  transition: all 400ms;
}
@media (max-width: 750px) {
  .resume .content .education .list .item {
    align-items: flex-start;
  }
}
.resume .content .education .list .item:hover {
  transform: scale(0.98);
}
.resume .content .education .list .item .placeName {
  display: flex;
  align-items: center;
}
.resume .content .education .list .item .course h5 {
  margin: 8px 0;
  font-size: 17px;
}
.resume .content .education .list .item .date {
  font-size: 14px;
}
.resume .content .education .list .item .date span {
  opacity: 0.5;
}
.resume .content .education .list .item .description {
  margin-top: 20px;
  text-align: end;
}
@media (max-width: 750px) {
  .resume .content .education .list .item .description {
    text-align: start;
  }
}
.resume .content .experience .title-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
  transition: all 400ms;
}
.resume .content .experience .title-content:hover {
  transform: scale(0.98);
}
.resume .content .experience .list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
}
.resume .content .experience .list .item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
  align-items: flex-start;
  transition: all 400ms;
}
.resume .content .experience .list .item:hover {
  transform: scale(0.98);
}
.resume .content .experience .list .item .placeName {
  display: flex;
  align-items: center;
}
.resume .content .experience .list .item .position h5 {
  margin: 8px 0;
  font-size: 17px;
}
.resume .content .experience .list .item .date {
  font-size: 14px;
}
.resume .content .experience .list .item .date span {
  opacity: 0.5;
}
.resume .content .experience .list .item .description {
  text-align: start;
  margin-top: 20px;
}
.resume .content .divider-section {
  width: 1px;
  background-color: rgb(127, 127, 127);
  height: 550px;
}

.skills {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
}
.skills .title {
  align-items: center;
}
.skills .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 4.3rem;
  flex-wrap: wrap;
}
.skills .content .icon {
  transition: all 400ms;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  flex-wrap: nowrap;
  align-items: center;
}
.skills .content .icon:hover {
  transform: scale(0.9);
}
.skills .content .icon img {
  width: 85%;
}

.portfolio {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
  padding: 0 2rem;
}
.portfolio .title {
  align-items: center;
}
.portfolio .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
}
.portfolio .content .project {
  width: 365px;
  border-radius: 10px;
  position: relative;
  background-color: #2b2d41;
  transition: all 500ms;
}
.portfolio .content .project:hover {
  transform: scale(0.95);
}
.portfolio .content .project .image {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.portfolio .content .project .image img {
  width: 100%;
}
.portfolio .content .project .info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 10px;
}
.portfolio .content .project .info h4 {
  margin-top: 25px;
  margin-bottom: 20px;
}

.contact {
  margin-bottom: 40px;
}
@media (max-width: 470px) {
  .contact {
    padding: 0;
  }
}
.contact .title {
  align-items: center;
}
.contact .content form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
}
.contact .content form input,
.contact .content form textarea {
  background-color: #101c30;
  color: #afadad;
  font-size: 15px;
  border: none;
  padding: 20px;
  border-radius: 7px;
}
.contact .content form textarea {
  resize: none;
  height: 210px;
}
.contact .content form .btn {
  color: white;
  background-color: #1ee832;
  width: 125px;
  padding: 15px;
  font-weight: 600;
  transition: all 700ms;
}
.contact .content form .btn:hover {
  transform: scale(0.94);
}
.contact .content form .form-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}
.contact .content form .form-container div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
  width: 40%;
}
@media (max-width: 750px) {
  .contact .content form .form-container div {
    gap: 10px;
    width: 70%;
  }
}
@media (max-width: 470px) {
  .contact .content form .form-container div {
    width: 85%;
  }
}
.contact .content form .container-icons .icon img {
  width: 35px;
}
@media (max-width: 470px) {
  .contact .content form .container-icons .icon img {
    width: 30px;
  }
}/*# sourceMappingURL=style.css.map */